@font-face {
  font-family: 'Poppins';
  src: url(../../font/Poppins/Poppins-Regular.ttf);
  font-size: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins/Poppins-Medium.ttf);
  font-size: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins/Poppins-SemiBold.ttf);
  font-size: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
  font-size: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
  font-size: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat/static/Montserrat-Regular.ttf);
  font-size: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url(../font/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
  font-size: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url(../font/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
  font-size: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url(../font/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
  font-size: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url(../font/Pacifico/Pacifico-Regular.ttf);
  font-size: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: black;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
body {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
}
.header-top {
  background-color: #222;
  font-size: 12px;
  font-weight: 500;
  color: #bababa;
}
.header-top-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 46px;
}
.header .web-info {
  display: flex;
  margin: 0 30px;
}
.header .web-info .info-icon {
  margin-right: 5px;
}
.header .web-info-action {
  display: flex;
}
.header .web-info-action .web-info-button {
  display: flex;
  margin: 0 15px;
}
.header .web-info-action .web-info-button .info-icon {
  margin-right: 5px;
}
.header-bottom .nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}
.header-bottom .nav-logo {
  display: flex;
  text-align: center;
}
.header-bottom .nav-logo a {
  display: flex;
  text-align: center;
  height: 100%;
}
.header-bottom .nav-logo a img {
  display: flex;
  margin: auto 0;
}
.header-bottom .nav-menu {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  display: flex;
}
.header-bottom .nav-menu .nav-item {
  display: inline-block;
  margin: 0 27.5px;
}
.header-bottom .nav-menu .nav-item a {
  text-transform: uppercase;
  font-weight: 700;
  -webkit-text-stroke: 1px;
}
.header-bottom .nav-menu .nav-item a.homepage {
  color: #8262b5;
}
.header-bottom .nav-menu nav {
  display: flex;
}
.header-bottom .nav-icon {
  display: flex;
  transform: scale(1.5);
}
.header-bottom .nav-icon a {
  margin: 0 15px;
  line-height: 80px;
}
.page-main {
  margin: 0;
  padding: 0;
}
.banner {
  position: relative;
  margin-top: 31px;
  margin-left: 130.5px;
}
.banner .banner-button {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  background-color: #8262b5;
  width: 106px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.banner-left {
  width: 58.3333%;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
}
.banner-left .banner-title {
  font-family: "Pacifico";
  font-size: 30px;
  font-weight: 600;
}
.banner-left .banner-info {
  position: absolute;
  top: 270px;
  left: 300px;
}
.banner-left .banner-info .banner-button {
  position: absolute;
  left: 66%;
}
.banner-left img {
  width: 100%;
}
.banner-right {
  width: 41.6667%;
  padding: 0 15px;
  box-sizing: border-box;
}
.banner-right-item {
  position: relative;
}
.banner-right-item .banner-title {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  text-transform: uppercase;
}
.banner-right-item .banner-discription {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}
.banner-right-item img {
  width: 100%;
}
.banner-right-item #picture-right-1 {
  background-image: url("img/Ads 2.png");
  background-color: #cad7df;
  width: 71.45%;
  height: 162.5px;
  margin-bottom: 30px;
}
.banner-right-item #picture-right-1 img {
  width: 100%;
  height: 162.5px;
  object-fit: none;
  object-position: 60% 30%;
}
.banner-right-item #info-1 {
  position: absolute;
}
.banner-right-item #info-1 .border-around {
  border: 1px solid #fff;
  width: 271px;
  height: 110px;
  position: relative;
  bottom: 166.5px;
  left: 26px;
}
.banner-right-item #info-1 .banner-content {
  position: absolute;
  top: 40px;
  left: 32px;
}
.banner-right-item #picture-right-2 img {
  width: 71.45%;
  height: 294px;
  object-fit: none;
  object-position: 5% 10%;
}
.banner-right-item #info-2 {
  position: absolute;
  bottom: 90px;
  left: 30px;
}
.banner-right-item #info-2 .banner-button {
  position: relative;
  margin-top: 21px;
}
.featured-items {
  margin-top: 80px;
  margin-left: 130.5px;
}
.featured-items .featured-items-main {
  margin-left: 15px;
}
.featured-items .top-title {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #8262b5;
  letter-spacing: 5px;
}
.featured-items .main-title {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: black;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.featured-items .line {
  margin-top: 30px;
  margin-bottom: 43px;
  color: #8262b5;
  width: 4.35%;
  margin-left: 0;
  border: 0.5px solid #8262b5;
}
.featured-items .row .col-1,
.featured-items .row .col-2,
.featured-items .row .col-3,
.featured-items .row .col-4 {
  width: 19.87%;
  margin-right: 30px;
}
.featured-items .row img {
  width: 100%;
  height: 280px;
}
.featured-items .row .item-button {
  width: 118px;
  height: 40px;
  line-height: 42.5px;
  background: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom: 52px;
  left: 5px;
}
.featured-items .row .item-button:hover {
  color: #8262b5;
}
.featured-items .row .item-tilte {
  position: relative;
  bottom: 32px;
}
.featured-items .row .item-star {
  position: relative;
  bottom: 27px;
}
.featured-items .row .item-price {
  position: relative;
  bottom: 23px;
  margin-bottom: 20px;
  font-family: "Montserrat";
}
.featured-items .row .item-price .old-price {
  color: #616161;
  text-decoration: line-through;
  font-weight: normal;
}
.featured-items .row .item-price .new-price {
  color: #8262b5;
  font-weight: 900;
  -webkit-text-stroke: 0.5px;
}
/*# sourceMappingURL=style.css.map */