.banner{
    &-left{
        .col(58.3333%);
        position: relative;
        .banner-title{
font-family: "Pacifico";
        font-size: 30px;
        font-weight: 400
        }
        
    }
    &-right{
        
        .col(41.6667%);
        &-item{
            position: relative;
        }
    }
}